<main class="auth-page">
  <section class="auth-card">
    <%- messages() %>
    <h2 class="auth-title">Account</h2>

    <div class="auth-content">
      <p class="auth-message">You're logged in ✅</p>
    </div>

    <!-- <p class="auth-footer-text">
      <a href="/account/logout" class="auth-link">Logout</a>
    </p> -->
    
  </section>
</main>