<h1 class="welcomeMessage">Welcome to CSE Motors!</h1>
<section class="hero">
  <img src="/images/vehicles/delorean-tn.jpg" alt="DMC Delorean"/>
  <div id="heroOverlay">
    <h2>DMC Delorean</h2>
    <p>
      3 Cup holders<br />
      Superman doors<br />
      Fuzzy dice!<br />
      <img src="/images/site/own_today.png" alt="Buy Button"/>
    </p>
  </div>
</section>

<div class="sectionsWrapper">
  <section class="reviewsSection">
    <ul class="reviewsList">
      <li>"So fast it's almost like travelling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futureistic ride of our day." (4.5/5)</li>
      <li>"80's livin and i love it!" (5/5)</li>
    </ul>
  </section>

  <section class="upgradesSection">
    <ul class="upgradesList">
      <li>
        <article class="upgradeCard">
          <div class="imageBox">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" />
          </div>
          <h3>Flux Capacitor</h3>
        </article>
      </li>
      <li>
        <article class="upgradeCard">
          <div class="imageBox">
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals" />
          </div>
          <h3>Flame Decals</h3>
        </article>
      </li>
      <li>
        <article class="upgradeCard">
          <div class="imageBox">
            <img
              src="/images/upgrades/bumper_sticker.jpg"
              alt="Bumper Sticker"
            />
          </div>
          <h3>Bumper Sticker</h3>
        </article>
      </li>
      <li>
        <article class="upgradeCard">
          <div class="imageBox">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap" />
          </div>
          <h3>Hub Cap</h3>
        </article>
      </li>
    </ul>
  </section>
</div>