<h1><%- title %></h1>

<div class="inv-admin-links">
  <a href="/inv/new_classification" class="inv-admin-btn">Add New Classification</a>
  <a href="/inv/new_inventory" class="inv-admin-btn">Add New Vehicle</a>
</div>
